* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #6c4408;
  color: #fff;
}

.game {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.title {
  position: flex;
  margin-bottom: 20px;
  font-size: 4rem;
  text-decoration: underline;
}

.desc {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.move {
  font-size: 2rem;
  text-decoration: overline;
}

.options {
  justify-content: space-evenly;
  display: flex;
  width: 50vw;
  margin-top: 2rem;
}

.rock,
.paper,
.scissor {
  padding: 0.8rem;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  background: brown;
  border-color: brown;
  outline: none;
  border: none;
}

.comChoice {
  padding-top: 20px;
  font-size: 2rem;
}

.result {
  margin-top: 20px;
  font-size: 2rem;
}
